
.randomSort > h1{
    text-align: center;
    font-size: 40px;

    padding: 30px;
    border-radius: 10rem;

    background: rgb(35,35,66);
    background: linear-gradient(187deg, rgba(35,35,66,1) 6%, rgba(30,30,78,1) 25%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 93%);
    transition: 1s;
}

.randomSort > h1:hover{
    font-size: 35px;
    transition: 1s;
}

.randomSort__container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.randomSort__container__right, .randomSort__container__left {
    border: 2px solid white;
    padding: 25px ;
}

#namePlayer{
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    height: auto;

    border-radius: 1rem;
}

input::placeholder{
    text-align: center;
}

.mt-2{
    margin-top: 15px;
    font-size: 20px;
}

#numTeams{
    width: 40px;
    padding: 10px;
    border-radius: 1rem;
    font-size: 20px;
}

.randomSort__container__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    width: 130px;
    height: auto;
    padding: 10px;
    border-radius: 1rem;

    text-align: center;
    font-size: 15px;
}

#selectElo{
    width: 200px;
}

.container__elo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


